<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1><%= brand %></h1>
    <main>
        <h2>Models we offer:</h2>
        <ul>
            <% models.forEach(model=>{ %>
        <li><a href="/<%= brand %>/<%= model.model_name %>"><%= model.model_name %></a></li>
            <%})%>
        </ul>
    </main>
</body>
</html>